@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
* {
	cursor: none;
}

body, p { 
  padding: 0; 
  margin: 0; 
  font-family : 'Inconsolata', sans-serif; 
  font-weight : 300;
  font-size: 18px;
  line-height: 28px;
  /* background: rgb(214, 214, 214); */
}

h1 { 
  font-size: 36px; 
  line-height: 42px; 
  font-family : 'Inconsolata', sans-serif; 
  font-weight : 400; 
}

h2 { 
  font-size: 30px;
  line-height: 36px; 
  font-family : 'Inconsolata', sans-serif;
  font-weight : 300;
}

#header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: rgb(15, 15, 15);
  border-bottom:1px solid #ccc;
  z-index: 1;
}

#logo { 
  float: left; 
  width: 130px; 
}

.logo {
  font-size: 36px;
  line-height: 100px;
  padding:0;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.logo:hover {
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
}

#navigation { 
  display: block; 
  margin-left: 130px; 
  text-align: right;
  margin-top: 20px;
}

#mainnav { font-size: 0px; }

#mainnav li { 
  display: inline-block;
  font-size: 22px;
  margin: 15px;
}

.coment::before{
  content: '//Alefi';
  position: absolute;
  top: 180px;
  color: #608850;
  font-size: 30px;
}
.coment2::before{
  content: '//Página Inicial';
  position: absolute;
  top: 180px;
  color: #608850;
  font-size: 30px;
}

#mainnav li:last-child { margin-right: 0px; }

#mainnav li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: 0.3s;
}
.ahover:hover{
  color:#fff !important;
}
#mainnav li a:hover {
  /* color: rgb(255, 52, 52); */
  letter-spacing: 2px;
  font-weight: 600;
  /* color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px rgb(11, 90, 64),
    0 0 30px #0fa; */
  /* color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080; */
}

.double-space { height: 120px; }

.section { 
  min-height: 1000px;
  overflow: hidden;
}

.darker { background-color : #141516; }
.lighter { background-color : #fff; }

#About { }
#Services { background : url(http://tariqfaridfoundation.org/images/map-white.jpg) 50% 0 repeat fixed;  }
 
.centered-wrapper { margin: 0 auto; text-align: center; max-width: 1250px; overflow: hidden; }

.section.darker h1 { color: #fff; }
.section.darker h2 { color: #ccc; } 
.section.darker p  { color: #fff; }

.section.lighter h1 { color: #333; }
.section.lighter h2 { color: #555; }
.section.lighter p  { color: #333; }

.section p.box { text-align: left; }

.section .box { 
  background-color: rgba(0,0,0,0.2); 
  border: 1px solid rgba(0,0,0,0.2); 
}

.box { 
  padding: 25px; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.menu-icon { 
  display:none;  
  position: absolute;
  width: 35px;
  height: 35px;
  background:url(menu-icon.png) left top no-repeat;
  -webkit-background-size:100%;
  -moz-background-size:100%;
  -ms-background-size:100%;
  -o-background-size:100%;
  background-size:100%;
  right: 0px;
  top:40px;
  cursor:pointer;
}


@media only screen and (max-width:319px) {
  .centered-wrapper { width: 94% !important; }
  #navigation { 
    display: none; 
    width: 100%;
    top: 81px;
    background: #e9e9e9;
    position: absolute;
    z-index:9999;
    margin-left: -3%;
    text-align: left;
  }
  
  .icon2{
    visibility: hidden;
  }

  #mainnav { 
    padding : 0px;
    margin : 0px; 
  }
  
  #mainnav li { 
    display: block;
    border-bottom : 1px solid #ccc;
    padding: 0 !important;
    margin: 0px; 
  }
  
  #mainnav li:last-child {
    border-bottom: 0px;
  }
  
  #mainnav li a {
    color:#333;
    padding: 10px 15px;
    display: block;
    margin: 0px !important;
  }
  #mainnav li a:hover {
    background-color: #555;
    color: #fff;
  }
  
  .menu-icon { display:block !important; right: 20px;  }
}

@media only screen and (min-width:320px) and (max-width:479px) { 
  .centered-wrapper { width: 94% !important; }
  #navigation { 
    display: none; 
    width: 100%;
    top: 81px;
    background: #e9e9e9;
    position: absolute;
    z-index:9999;
    margin-left: -3%;
    text-align: left;
  }
  .icon2{
    visibility: hidden;
  }
  .cursor{
    visibility: hidden;
  }
  #mainnav { 
    padding : 0px;
    margin : 0px; 
  }
  
  #mainnav li { 
    display: block;
    border-bottom : 1px solid #ccc;
    padding: 0 !important;
    margin: 0px; 
  }
  
  #mainnav li:last-child {
    border-bottom: 0px;
  }
  
  #mainnav li a {
    color:#333;
    padding: 10px 15px;
    display: block;
    margin: 0px !important;
  }
  #mainnav li a:hover {
    background-color: #555;
    color: #fff;
  }
  
  .menu-icon { display:block !important; right: 20px; }
}

@media only screen and (min-width:480px) and (max-width:767px) {
  .centered-wrapper { width: 96% !important; }
  #navigation { 
    display: none; 
    width: 100%;
    top: 81px;
    background: #e9e9e9;
    position: absolute;
    z-index:9999;
    margin-left: -2%;
    text-align: left;
  }
  
  .cursor{
    visibility: hidden;
  }
  #mainnav { 
    padding : 0px;
    margin : 0px; 
  }
  
  #mainnav li { 
    display: block;
    border-bottom : 1px solid #ccc;
    padding: 0 !important;
    margin: 0px; 
  }
  
  #mainnav li:last-child {
    border-bottom: 0px;
  }
  
  #mainnav li a {
    color:#333;
    padding: 10px 15px;
    display: block;
    margin: 0px !important;
  }
  #mainnav li a:hover {
    background-color: #555;
    color: #fff;
  }
  
  .menu-icon { display:block !important; right: 20px; }
}

@media only screen and (min-width:768px) and (max-width:1023px) { 
  .centered-wrapper { width: 96% !important; }
}

@media only screen and (min-width:1024px) and (max-width:1279px) { 
  .centered-wrapper { width: 96% !important; }
}

@media only screen and (min-width:1280px) { 
  .centered-wrapper { width: 1250px !important; }
}

.icon1{
  max-width: 200px;
}
/* Design custom cursor */
.cursor {
	position: fixed;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	pointer-events: none;
	mix-blend-mode: difference;
	z-index: 9;
	transition: transform 0.2s;
}
.sub_head {
	margin-top: 2vh;
}

.content {
	margin: auto;
	text-align: center;
	color: #fff;
}
.head {
	font-size: 50px;
	font-weight: bold;
}

/* scroll reveal */
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

/* typing */
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.typing { 
	border-right: .1em solid #fff;
	width: 16.5em; 
	width: 11.87ch;
	/* margin: 2em 1em; */
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
}

/* footer */
footer{
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: #111;
  border-top: 1px solid #fff;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
  text-decoration: none;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: left;
  color: #fff;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
  /* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
  .boxOverflow{
    opacity: 10%;
  }
  .boxOverflow2{
    position: absolute;
    max-width: 300px;
    height: 100px;
    padding-top: 200px;
    padding-left: 30px;
    overflow: hidden;
    border-radius: 50%;
  }
}

/* placa animada */
.center {
  position: relative;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.table {
  width: 500px;
  height: 120px;
  border-radius: 13px;
background: #0f0f0f;
box-shadow: inset 8px 8px 14px #060606,
            inset -8px -8px 14px #181818;
}
.table .monitor-wrapper {
  background: #252527;
  width: 480px;
  height: 100px;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.table .monitor-wrapper .monitor {
  width: 460px;
  height: 80px;
  background-color: #344151;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
  background: #0f0f0f;
box-shadow: inset 8px 8px 14px #060606,
            inset -8px -8px 14px #181818;
}
.table .monitor-wrapper .monitor p {
  /* font-family: "VT323", monospace; */
  font-size: 50px;
  top: 30px;
  position: relative;
  display: inline-block;
  animation: move 20s infinite linear;

  color: #fff;
}

@keyframes move {
  from {
    left: 800px;
  }
  to {
    left: -4800px;
  }
}

/* boxOverflow */
.boxOverflow{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 250px;
  right: 40px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* box-shadow: inset 5px 5px 10px #080809,
              inset -5px -5px 10px #202223; */
}
.boxOverflow2{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 500px;
  left: 40px;
  overflow: hidden;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.fixedBack{
  position: absolute;
  width: 310px;
  height: 310px;
  background-attachment: fixed;
  background-image: url(backfixed.png);
}

